{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="description" content="La Belgique, l'un de nos pays de destination. Suivez avec nous comment y obtenir de la place pour vos études à l'étranger" />
  <meta name="keywords" lang="fr" content="SEI, Cabiet SEI, études à l'international, études en Belgique, études en Europe, universités belges, universités internationales" />
{% endblock %}

{% block title %}Etudes en Belgique - Cabinet SEI{% endblock %}


{% block page_header %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Nos destinations</h1>
      <div class="row center">
        <h5 class="header col s12 light">Faites une visite virtuelle des pays que nous proposons</h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="container">
    <h1>Belgique</h1>
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ asset('img/nvo/universite_anvers_belgique.jpg') }}" alt="Cabinet SEI - Université ANVERS"> <!-- random image -->
            <div class="caption center-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université ANVERS</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset('img/nvo/universite_liege_belgique2.jpg') }}" alt="Cabinet SEI - Université LIEGE"> <!-- random image -->
            <div class="caption left-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université LIEGE</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset('img/Lyon.jpeg') }}" alt=""> <!-- random image -->
            <div class="caption right-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Découvez la splendide cité universitaire de Paris</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="my-paragraphs my-alinea">
          La Belgique offre un cadre d’études multilingue qui attire de plus en plus d’étudiants étrangers
          venus du monde entier. Ils y ont la possibilité d’étudier en anglais, en français, en allemand et
          en néerlandais. Chaque année, elle accueille plus de 5 000 étudiants étrangers. Plusieurs universités
          du pays proposent des formations en anglais <font style="color: #FF0000, font-weight: bold">pour plus
          d’ouverture à l’international</font>. En plus, les coûts des formations sont moindre comparés à la
          France et de bonne qualité. La Fédération Wallonie-Bruxelles,
          la partie francophone de la Belgique compte 6 universités: l’Université Catholique de Louvain, l’Université
          Libre de Bruxelles, l’Université de Liège, l’Université de Mons, l'Université de Namur et l'Université
          Saint-Louis-Bruxelles. Ces universités accueillent des centaines d’étudiants africains francophones chaque
          année. Bruxelles, « capitale » de l’Union Européenne, est aujourd’hui une ville cosmopolite, internationale
          où il est possible de rencontrer des personnes de diverses origines s’exprimant majoritairement en anglais.
          Cela permet à de nombreux étudiants de tisser des relations et d’apprendre l’anglais par la pratique.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ asset('img/destinations/ulb_1.jpg') }}" alt="Cabinet SEI - Université Libre de Bruxelles"> <!-- random image -->
            <div class="caption center-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université Libre de Bruxelles</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset('img/destinations/ulb_2.jpg') }}" alt="Cabinet SEI - Université Libre de Bruxelles"> <!-- random image -->
            <div class="caption left-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université Libre de Bruxelles <br>Source : ULB</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset('img/destinations/UCLouvain1.jpg') }}" alt="Cabinet SEI - Université de Louvain"> <!-- random image -->
            <div class="caption right-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Campus de l’Université de Louvain <br>Source : ULB</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p class="my-paragraphs my-alinea">
        Par ailleurs, avec  l’harmonisation des systèmes d’enseignement européens, les diplômes belges sont
        équivalents aux diplômes français même s’il existe quelques divergences au niveau des systèmes universitaires.
        Le système belge propose en effet quatre possibilités : les universités (similaire au système français), les Hautes
        écoles (HE), les Instituts supérieurs d’architecture (ISA) et les Écoles supérieures des arts (ESA). Les HE, ISA et
        ESA sont divisés en cursus long et cursus court, le long étant équivalent à un cursus universitaire, le court proposant
        un seul cycle professionnalisant, avec possibilité de suivre une année de spécialisation.
      </p>
      <p class="my-paragraphs my-alinea">
        Il y’a vraiment de bonnes raisons de partir étudier en Belgique. Faibles coûts, très bonne qualité des
        formations et environnement multilingue
      </p>
      <p class="my-paragraphs my-alinea">
        Cependant, contrairement à la France, les candidatures d’admission sont adressées directement aux universités ou écoles.
        Un jury de sélection des candidats prononcent  l’acceptation ou le refus de la candidature. Le cabinet SEI vous propose
        son assistance pour la constitution des dossiers de candidature, le suivi et l’accompagnement dans le processus de visa
        pour la Belgique.
      </p>
    </div>
  </div>
{% endblock %}
