{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="description" content="La France, l'un de nos pays de destination. Suivez avec nous comment y obtenir de la place pour vos études à l'étranger" />
  <meta name="keywords" lang="fr" content="SEI, Cabiet SEI, études à l'international, études en France, études en Europe, universités françaises, universités internationales" />
{% endblock %}

{% block title %}Etudes en France - Cabinet SEI{% endblock %}


{% block page_header %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Nos destinations</h1>
      <div class="row center">
        <h5 class="header col s12 light">Faites une visite virtuelle des pays que nous proposons</h5>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_content %}
  <div class="container">
    <h1>France</h1>
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ asset('img/destinations/fac_droit_montpellier.jpg') }}" alt=""> <!-- random image -->
            <div class="caption center-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Faculté de droit et de Sciences Politiques de l’Université de Montpellier</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset('img/new-selection/sorbonne_2.jpg') }}" alt="Cabinet SEI - Université Sorbonne de Paris"> <!-- random image -->
            <div class="caption left-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université Sorbonne de Paris</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset('img/Lyon.jpeg') }}" alt=""> <!-- random image -->
            <div class="caption right-align">
              <h3>Bibliothèque</h3>
              <h5 class="light grey-text text-lighten-3">Les étudiants à la bibliothèque à l’Université de Lyon </h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p class="my-paragraphs my-alinea">
          Avec ses 73 universités en 2018 plus trois universités de technologie reparties sur l’ensemble du territoire,
          la France est un pays très attractif pour les étudiants étrangers. Elle occupe le quatrième rang mondial après
          les Etats Unis, le Royaume Uni et l’Australie. Elle est le 1er pays non anglophone pour l’accueil d’étudiants
          internationaux. Près de la moitié de ces étudiants sont originaires d’Afrique. Des milliers d’étudiants du monde
          entier choisissent la destination France pour la qualité, la diversité des  études proposées par  ses universités
          et grandes écoles mais aussi pour sa richesse culturelle et son dynamisme économique. Outre la grande qualité de
          l’enseignement et l’ouverture internationale dont ils bénéficient, les étudiants étrangers ont la chance d’étudier
          à des coûts très faibles comparés aux universités anglo-saxonnes. Le système universitaire français est reconnu dans
          le monde entier comme performant et répondant aux évolutions du monde dans les domaines les plus variés tels que les
          sciences de l’ingénieur, le management, les sciences politiques, les arts, les sciences humaines, etc.
        </p>
        <p class="my-paragraphs my-alinea">
          Ces universités  proposent une diversité et des possibilités énormes  de formation tournées vers le monde de
          l’entreprise, l’international et la recherche. A cela, s’ajoute les grandes écoles d’Ingénieurs (Ecole Polytechnique,
          TelecomParis, ENSAE, ENSAI, Agroparistech, Agrocampus Ouest, SupAgro…), les grandes écoles de commerce (HEC, ESSEC,
          EM Lyon, Toulouse Business School…), les IUT etc.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ asset("img/destinations/polytech_lille.jpg") }}" alt="Cabinet SEI - Université Polytechnique Lille"> <!-- random image -->
            <div class="caption center-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université Polytech Lille</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset("img/destinations/ensea_paris.jpg") }}" alt="Cabinet SEI - ENSAE"> <!-- random image -->
            <div class="caption left-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Ecole Nationale de la Statistique et de l'Administration Economique</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset("img/destinations/nice.jpg") }}" alt="Cabinet SEI - Université Nice Sophia Antipolis"> <!-- random image -->
            <div class="caption left-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université Nice Sophia Antipolis</h5>
            </div>
          </li>
          <li>
            <img src="{{ asset("img/destinations/sorbonne.jpg") }}" alt="Cabinet SEI - Université Sorbonne de Paris"> <!-- random image -->
            <div class="caption left-align">
              <h3>Université</h3>
              <h5 class="light grey-text text-lighten-3">Université Sorbonne de Paris</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
          <p class="my-paragraphs my-alinea">
            Les étudiants étrangers bénéficient aussi de plusieurs avantages sociaux sensés améliorer leur conditions de vie et
            d’études : la Sécurité Sociale étudiante, l’Aide au logement, la restauration universitaire et les  réductions
            (transport, loisirs, etc.)
          </p>
          <p class="my-paragraphs my-alinea">
            Etudier en France nécessite néanmoins un minimum de préparation, d’avoir un projet d’études clair, de bien choisir
            ses formations et les lieux de formation. Vous pouvez avoir un bon dossier scolaire mais malheureusement faire face
            à un flot de refus de la part des universités choisies dans notre espace Campus France du fait de la forte concurrence
            ou  de la sélectivité dont font preuve certaines universités, aussi très sollicitées. Il est crucial de bénéficier de
            conseils, de l’assistance de personnes avisées, maitrisant la géographie universitaire française.
          </p>
          <p class="my-paragraphs my-alinea">
            Le Cabinet SEI vous propose ses services afin de vous permettre de réaliser ces différentes étapes avec succès.
            Il vous accompagne dans toute votre procédure Campus France.
          </p>
        </div>
  </div>
    <!-- end Left to right-->
  </div>
{% endblock %}
