{% trans_default_domain 'FOSUserBundle' %}

{% block body %} 
    <div class="ui form">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="three fields">
                <div class="field">
                    <label for="">
                        {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': ''}}) }} {{ form_errors(form.current_password) }}
                    </label>
                    {{ form_widget(form.current_password, {'attr': {'class': '', 'placeholder': 'Mot de passe actuellement utilisé'}}) }}
                </div>
                <div class="field">
                    <label for="">
                        {{ form_label(form.plainPassword.first, "Nouveau mot de passe", {'label_attr': {'class': ''}}) }} {{ form_errors(form.plainPassword.first) }}
                    </label>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': '', 'placeholder': 'Nouveau mot de passe'}}) }}
                </div>
                <div class="field">
                    <label for="">
                        {{ form_label(form.plainPassword.second, "Répéter nouveau mot de passe", {'label_attr': {'class': ''}}) }} {{ form_errors(form.plainPassword.second) }}
                    </label>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': '', 'placeholder': 'Répéter nouveau mot de passe'}}) }}
                </div>
            </div>
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="ui primary button" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

