{% extends 'base.html.twig' %}

{% block meta %}
  <meta name="description" content="Votre compte personnel chez Cabinet SEI" />
  <meta name="keywords" lang="fr" content="SEI, Cabiet SEI, études à l'international" />
{% endblock %}

{% block title %}Profile d'utilisateur {{ user.username }}{% endblock %}


{% block page_header %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center orange-text">Le profile de <i><b>{{ user.username }}</b></i></h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
{% endblock %}


{% block page_content %}
<div class="container">
  <div class="row">
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>informations personnelles sur {{ user.nom }} {{ user.pnom }}</div>
      <div class="collapsible-body">
        <span>
          <div class="ui bottom attached active tab segment" data-tab="first">
            <table>
              <thead>
                <tr>
                  <th>Données</th>
                  <th>Valeur</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nom complet</td>
                  <td>{{ user.nom }} {{ app.user.pnom }}</td>
                </tr>
                <tr>
                  <td>Numéro de téléphone</td>
                  <td>{{ user.contact }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <td>Dernière connexion</td>
                  <td>{{ user.lastLogin|date("d-m-Y") }}</td>
                </tr>
                <tr>
                  <td>Filière de formation</td>
                  <td>{{ app.user.filiere }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Messages de {{ user.nom }} {{ user.pnom }}</div>
      <div class="collapsible-body">
        <span>
          <div class="ui bottom attached tab segment" data-tab="second">
            Les messages de l'utilisateur
            {% if messages is empty %}
              <p>Aucun message pour le moment</p>
            {% else %}
            <table class="ui very basic selectable table">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Date</th>
                  <th>Sujet</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                {% set n = 0 %}
                {% for msg in messages %}
                  {% set n = n + 1 %}
                  <tr>
                    <td>{{ n }}</td>
                    <td>{{ msg.dateSave|date("d-m-Y") }}</td>
                    <td>{{ msg.subject }}</td>
                    <td>{{ msg.message }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Rendez-vous de {{ user.nom }} {{ user.pnom }}</div>
      <div class="collapsible-body">
        <span>
          <div class="ui bottom attached tab segment" data-tab="third">
            Les rendez-vous de l'utilisateur
            {% if rdv is empty %}
              <p>Aucun rdv enregistré</p>
            {% else %}
              <table class="ui very basic selectable table">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Sujet</th>
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  {% set n = 0 %}
                  {% for r in rdv %}
                    {% set n = n + 1 %}
                    <tr>
                      <td>{{ n }}</td>
                      <td>{{ r.dateRdv|date("d-m-Y") }}</td>
                      <td>{{ r.heure }}</td>
                      <td>{{ r.subject }}</td>
                      <td>{{ r.message }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </span>
      </div>
    </li>
  </ul>
  </div>
</div>
{% endblock %}
